<!DOCTYPE html>
<html>
<head>
    <title>Facebook Group Post</title>
    <meta charset="UTF-8">
    <link type="text/css" rel="stylesheet" href="css/materialize.css" media="screen,projection" />
    <link type="text/css" rel="stylesheet" href="css/nprogress.css" media="screen,projection" />
    <link href="http://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body ng-app="app">
    <nav class="light-blue lighten-1" role="navigation">
        <div class="nav-wrapper container">
            <a id="logo-container" href="#" class="brand-logo center">Aswig Solutions</a>
        </div>
    </nav>
    <div id="index-banner" class="container">
        <div class="section no-pad-bot">
            <div class="container">

                <h1 class="header center orange-text text-lighten-2">Facebook Auto Post</h1>
                <div class="row center">
                    <h5 class="header col s12 light">Post 1 status lên nhiều group khác nhau</h5>
                </div>
            </div>
        </div>
    </div>

    <div class="container" ng-controller="fbController">


        <div class="row">
            <div class="col s6">
                <div style="height: 91px" class="row col s12">
                    <h5>Login Status</h5>
                    <a ng-show="userStatus == ''" class="waves-effect waves-light btn " ng-click="login()">
                        <i class="material-icons left">people</i> Facebook Login
                    </a>
                    <p>{{userStatus}}</p>
                </div>
                <div class="row col s12" style="margin-top: 5px;">
                    <h5>Add a group</h5>
                    <div class="input-field col s12">
                        <i class="material-icons prefix">supervisor_account</i>
                        <input id="groupId" ng-model="groupId" type="text" class="validate">
                        <label for="groupId">Group Id</label>
                    </div>

                    <a class="waves-effect waves-light btn " ng-click="addGroup()">
                        <i class="material-icons left">get_app</i> Add Group
                    </a>
                </div>
            </div>
            <div class="col s6">
                <div class="row col">
                    <h5>Post a message</h5>
                    <div class="input-field col s12">
                        <i class="material-icons prefix">chat</i>
                        <textarea id="textarea1" ng-model="message" class="materialize-textarea"></textarea>
                        <label for="textarea1">Message Content</label>
                    </div>

                    <div class="input-field col s12">
                        <i class="material-icons prefix">public</i>
                        <input id="password" ng-model="link" type="text" class="validate">
                        <label for="password">Message Link</label>
                    </div>

                    <a class="waves-effect waves-light btn " ng-click="postMessage()">
                        <i class="material-icons left">send</i> Post message
                    </a>
                </div>
            </div>
        </div>

        <div class="row">
            <h5>Group List</h5>

            <table class="bordered striped">
                <tr>
                    <th>Image</th>
                    <th>Group Name</th>
                    <th>Description</th>
                    <th>Post</th>
                    <th>Action</th>
                </tr>
                <tr ng-repeat="group in savedGroups track by group.id">
                    <td><img height="80" width="80" ng-src="{{group.cover.source}}" /></td>
                    <td><a ng-href="https://www.facebook.com/groups/{{group.id}}">{{group.name}}</a></td>
                    <td>{{group.description | limitTo:250}}{{group.description.length > 250 ? '...' : ''}}</td>
                    <td><input ng-model="group.checked" type="checkbox" id="{{group.id}}" /><label for="{{group.id}}"></label></td>
                    <td><a ng-click="deleteGroup(group)">Delete</a></td>
                </tr>
            </table>
            <a style="margin-top: 20px;" class="waves-effect waves-light btn " ng-click="saveGroups()">
                <i class="material-icons left">sd_card</i> Remember groups
            </a>
        </div>


    </div>

    <footer class="page-footer orange">
        <div class="footer-copyright">
            <div class="container">
                Copyright by <a class="orange-text text-lighten-3" href="http://materializecss.com">H.Pham | Aswig Solutions</a>
            </div>
        </div>
    </footer>

    <script type="text/javascript" src="js/jquery-2.1.4.js"></script>
    <script type="text/javascript" src="js/materialize.js"></script>
    <script type="text/javascript" src="js/angular.js"></script>
    <script type="text/javascript" src="js/nprogress.js"></script>
    <script>
        var app = angular.module('app', []);

        //Initialize Facebook service
        app.factory('fbService', ['$window', '$q', function ($window, $q) {
            return {
                init: function () {
                    var df = $q.defer();
                    $window.fbAsyncInit = function () {
                        FB.init({
                            appId: '1427665520889672',
                            cookie: true,
                            xfbml: false,
                            version: 'v2.2'
                        });
                        df.resolve("Facebook SDK Loaded.");
                    };
                    return df.promise;
                },
                getStatus: function () {
                    var df = $q.defer();
                    FB.getLoginStatus(function (response) {
                        if (response.status === 'connected') {
                            FB.api('/me', function (apiResponse) {
                                df.resolve(apiResponse);
                            });
                        } else if (response.status === 'not_authorized') {
                            df.reject('Please log into this app.');
                        } else {
                            df.reject('Please log into facebook');
                        };
                    });
                    return df.promise;
                },
                login: function () {
                    var df = $q.defer();
                    FB.login(function (response) {
                        if (response.status === 'connected') {
                            FB.api('/me', function (apiResponse) {
                                df.resolve(apiResponse);
                            });
                        } else if (response.status === 'not_authorized') {
                            df.reject('Please log into this app.');
                        } else {
                            df.reject('Please log into facebook');
                        };
                    }, { scope: 'public_profile,email,publish_actions' });
                    return df.promise;
                },

                postMessage: function (groupId, message, link) {
                    var df = $q.defer();
                    FB.api("/" + groupId + "/feed", "POST", { "message": message, "link": link },
                        function (response) {
                            if (response && !response.error) {
                                df.resolve(response);
                            } else {
                                df.reject(response);
                            }
                        }
                    );
                    return df.promise;
                },

                getGroupInfo: function (groupId) {
                    var df = $q.defer();

                    FB.api("/" + groupId,
                        { fields: 'id,name,description,cover' },
                            function (response) {
                                if (response && !response.error) {
                                    df.resolve(response);
                                }
                            }
                    );
                    return df.promise;
                }
            };
        }
        ]);

        app.controller('fbController', ['$scope', 'fbService', '$q', function ($scope, fbService, $q) {

            $scope.userStatus = '';
            $scope.message = '';
            $scope.link = '';
            $scope.groupId = '';
            $scope.savedGroups = (localStorage.getItem("fbPost_savedGroup") === null) ? [] : JSON.parse(localStorage.getItem("fbPost_savedGroup"));

            fbService.init()
                .then(function (response) { Materialize.toast(response, 2000); })
                .then(fbService.getStatus)
                .then(function (response) { $scope.userStatus = 'Logging in as: ' + response.name + '!'; });

            $scope.login = function () {
                fbService.login()
                    .then(function (response) {
                        $scope.userStatus = 'Logging in as: ' + response.name + '!';
                    });
            };

            $scope.postMessage = function () {
                NProgress.start();

                var promises = $scope.savedGroups
                    .filter(function (gr) { return gr.checked; })
                    .map(function (gr) { return gr.id; })
                    .map(function (id) {
                        return fbService.postMessage(id, $scope.message, $scope.link).then(function (response) {
                            Materialize.toast("Posted successful with id: " + response.id, 2000);
                            return response;
                        });
                    });

                $q.all(promises).then(function (values) {
                    Materialize.toast("Posted in " + values.length + " groups.", 5000);
                    $scope.message = '';
                    $scope.link = '';
                    NProgress.done();
                });
            };

            $scope.addGroup = function () {
                NProgress.start();
                fbService.getGroupInfo($scope.groupId)
                    .then(function (response) {
                        NProgress.done();
                        var foundGroup = $scope.savedGroups.filter(function (gr) {
                            return gr.id == $scope.groupId;
                        })[0];
                        if (foundGroup != null) {
                            Materialize.toast('Group "' + response.name + '" is already added.', 2000);
                            return;
                        };
                        Materialize.toast('Group "' + response.name + '" added.', 2000);
                        $scope.groupId = '';
                        $scope.savedGroups.push(response);
                    });
            };

            $scope.deleteGroup = function (group) {
                $scope.savedGroups = $scope.savedGroups.filter(function (gr) {
                    return gr.id != group.id;
                });
            }

            $scope.saveGroups = function () {
                localStorage.setItem("fbPost_savedGroup", JSON.stringify($scope.savedGroups));
                Materialize.toast($scope.savedGroups.length + " groups saved.", 2000);
            }

        }]);
    </script>

    <script>
        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>
</body>



</html>